[Unit]
Description=SFv2 Static Files Update
After=NetworkManager.service
After=network.target

[Service]
User=sfv2
Type=simple
EnvironmentFile=-/etc/sysconfig/sfv2-update
ExecStart=/bin/sh -c "cd /srv/sfv2/current ; ./script/update-public.sh ${ENVIRONMENT}"
TimeoutStartSec=10min

[Install]
WantedBy=multi-user.target
